@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');

:root {
  --background: rgba(0, 0, 0, 0.5);
}

*, *::before, *::after {
  box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
	font-family: 'Work Sans', sans-serif;
	box-sizing: border-box;
	min-height: 100vh;
	display: flex;
	background-color: #333;
	align-items: center;
	justify-content: center;
}
			
.about-section{
	background: url("assets/images/background/black3.jpg") no-repeat left;
	background-size: 55%;
	background-color: #fdfdfd;
	overflow: hidden;
	padding: 100px 0;
}
			
.inner-container{
	width: 55%;
	float: right;
	background-color: #fdfdfd;
	padding: 150px;
}

.inner-container h1{
	margin-bottom: 30px;
	font-size: 30px;
	font-weight: 900;
	color: #545454;

}
			
.text{
	font-size: 13px;
	color: #545454;
	line-height: 30px;
	text-align: justify;
	margin-bottom: 40px;
}
			
.skills{
	display: flex;
	justify-content: space-between;
	font-weight: 700;
	font-size: 13px;
}

.content {
	position: absolute;
  	height: 100vh;
	width: 100%;
	top: 100vh;
	bottom: px;
  	background-color: #333;
	background-blend-mode: multiply;
	background-size: cover;
	display: grid;
	place-items: center;
}

img{
	position: relative;
	height: 28vh;
	width: auto;
	margin-right: 40px;
	margin-left: 40px;
	margin-top: 0px;
	display: inline-block;
	border-radius: 1.8em 1.5em 1.5em 0;
}

/* bg music styles */
			
.bg-music{
	position: relative;
	top: 64%;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.btn{
	background-color: transparent;
	color: white;
	font-size: 40px;
	border: none;
	outline: none;
	display: block;
	margin: 0 auto;
	opacity: 0.3;
	transition: all linear 0.2s;
	bottom: 5px;
	left: 10px;
	position: fixed;
}

.btn:hover{
	opacity: 1;
}

.fa-volume-up{
	display: none
}

/* navigation styles */

a {
	text-decoration: none;
	color: #fff;
}


header {
	background: var(--background);
	text-align: center;
	position: fixed;
	z-index: 999;
	width: 100%;
}


.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(lightblue, .75);
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: teal;
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 200ms ease-in-out 200ms;
}

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr ;
	}
  
  .logo {
    grid-column: 2 / 3;
  }
  
  nav {
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1,1);
    background: none;
    top: initial;
    left: initial;
    
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  nav ul {
    display: flex;
  }
  
  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }
  
  nav a {
    opacity: 1;
    position: relative;
  }
  
  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: teal;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 200ms;
  }
  
  nav a:hover::before {
    transform: scale(1,1);
  }
}

